@charset "utf-8";
/* CSS Document */

#container {
	margin: 0 auto;
	border: 3px solid #EEEEEE;
	width: 800px;
	-webkit-birder-radius: 6px;
	-moz-border-radius: 6px;
}

input, textarea {
	border: solid 1px #CCCCCC;
	margin-left: 10px;
	padding: 4px;
	outline: 0;
	font: Verdana, Geneva, sans-serif;
	width: 200px;
	background: #F9F9F9;
	-webkit-birder-radius: 4px;
	-moz-border-radius: 4px;
}

p label {
	margin-left: 10px;
	font-style: italic;
	color: #c0c0c0;
}

.name input {
	margin-top: 10px;
}


textarea {
	width: 400px;
	height: 150px;
	line-height: 150%;
}


.send input {
	width: auto;
	margin-bottom: 10px;
	border: 2px solid #E0E0F3;
	font: Verdana, Geneva, sans-serif;
	background-color: #E5E5F8;
}



input:hover, textarea:hover, input:focus, textarea:focus {
	border-color: #A0A0A0;
}

.send input:hover {
	border: 2px solid #C0C0E3;
}

